{% extends 'base.html.twig' %}

{% form_theme formEvent 'bootstrap_4_layout.html.twig'%}

{% block body %}
<h1>Création d'un event !</h1>
        {{ form_start(formEvent) }}
        {{ form_row(formEvent.name, {'attr': {'placeholder': "Titre de la event"}}) }}
        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter un event
            {% endif %}
        </button>
        {{ form_end(formEvent) }}
{% endblock %}