{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create Event</h3>
    </div>
    <div class="panel-body">
        Here you create a new event
    </div>
</div>
{% endblock %}
