{% extends 'base.html.twig' %}

{% form_theme formCategory 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create Category</h3>
    </div>
    <div class="panel-body">
        {{ form_start(formCategory) }}
        {{ form_row(formCategory.name, {'attr':{'placeholder':'Category Name'}}) }}
        
        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Save modifications
            {% else %}
                Save
            {% endif %}
        </button>
        {{ form(formCategory) }}

    </div>
    


</div>
{% endblock %}