{% extends 'base.html.twig' %}

{% form_theme formCategory 'bootstrap_4_layout.html.twig'%}

{% block body %}

        <h1>Création d'une categorie !</h1>
        {{ form_start(formCategory) }}
        {{ form_row(formCategory.name, {'attr': {'placeholder': "Titre de la categorie"}}) }}
        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter une categorie
            {% endif %}
        </button>
        {{ form_end(formCategory) }}
    

{% endblock %}
